

<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

<div class="contenido_mapa">
    <div class="busqueda_mapa">
        <p>
            <label for="pais">Pais:</label><br>
            <input class="input_busqueda " type="text" name="pais" id="pais_buscado" (keyup)="autocompletar(paises,coordBuscada)" /><br>
        </p>
        <p>
            <label for="coordenadas">Coordenadas:</label><br>
            <input type="text" name="coordenadas" id="lati_buscada" placeholder="Latitud"/><br><br>
            <input type="text" name="coordenadas" id="long_buscada" placeholder="Longitud"/>
        </p>
    </div>
    <br>
    <div class="botones_mapa">
        <a><input id="buscar" class="boton btn btn-primary" type="button" value="BUSCAR" (click)="buscar()" ></a>
        <a><input id="ubiActual" class="boton btn btn-primary" type="button" value="UBICACION ACTUAL"  (click)="miUbi()"></a>
    </div>
    
    <br>
    
    <div id="mapamundi">
    
    </div>
    
    <br>
</div>
