
.contenido_mapa{
    width: 100%;
}

.busqueda_mapa{
    justify-content: space-around;
}

.busqueda_mapa p{
    width: 70%;
    margin: auto;
}

.busqueda_mapa input{
    width: 100%;
    border-radius: 5px;
}

.botones_mapa{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}



#mapamundi{
    height: 500px;
    border-radius: 15px;
    z-index: 0;
}

