<div>
    <h1>EVENTOS</h1>

    
    <ng-container *ngIf="servicioUser.logIn()">  
        <!-- Si esta logueado aqui formulario pa crear evento -->


    </ng-container>

    Busqueda: <br><input class="input_busqueda" type="text" name="destino" id="destino_buscado" (keyup)="buscar()" /><br><br>
    <div class="listaUsers" *ngFor="let item of lista_eventos">
        <h2 [id] = "item.id">{{item.id}}</h2>
        <h2>{{ item.destino }}</h2>
        <br>
        <h4>{{ item.descripcion }}</h4>
        <p>Fecha: {{ item.fecha }}</p>
        <a href="/events/{{item.id_evento}}" (click)="setId(item.id_evento)">Ver mas</a>
    </div>
</div>
