.contenedor_perfil{
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
}

.foto{
    margin: 15px auto;
    max-width: 150px;
    grid-area: divFoto;
}
.foto img{
    width: 95%;
    max-width: 200px;
    max-height: 200px;
    border: 2px solid white;
    border-radius: 15px;
}

.datos{
    grid-area: divDatos;
    padding: 10px;
    margin-left: 50px;
}

#divDatos{
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "divFoto divDatos";
}

#idiomas{
    padding: 10px;
}

.oculto{
    display: none;
}

.brd{
    border-radius: 20px;
}

.size{
    width: 250px;
    margin-left: 20px;
}

@media only screen and (max-width:991px){

    h2{
        font-size: 150%;
    }

    #divDatos{
        padding: 10px;
    }
        
    .foto{
        width: 100%;
    }
    .foto img{
        margin: auto;
    }

    .oculto{
        display: none;
    }

    .brd{
        border-radius: 20px;
    }

}