li{
    list-style: none;
}

.detalleEventoH1{
    font-weight: bold;
    text-decoration: underline;
}

.cursiva{
    font-style: italic;
}

.brd{
    border-radius: 20px;
}

.tuyo h3{
    padding: 5px;
    float: right;
    background-color: grey;
    font-size: 17px;
    border-radius: 7px;
}