<li *ngFor="let item of evento" class="container col-xs-1 center-block">
    
<div class="jumbotron jumbotron-fluid brd">
    <div class="container">
        <h1>Destino: {{ item.destino }}</h1>          
        <div class="container">    
            <h4>{{ item.descripcion }}</h4>
        </div><br>
        <div class="container">    
            <h5>{{ item.participantes }} usuarios se han apuntado a este evento</h5>
        </div>
        <br>
        <p class="cursiva">Fecha: {{ formatDate(item.fecha) }}</p>
    
        <ng-container *ngIf="servicioUsuarios.logIn()">  
            <ng-container *ngIf="estuyo(item.id_organizador)" >  
                <div class="tuyo">
                    <h3>Creado por ti</h3>
                </div>
                <div id="borrarEvento">
                    <a href="/events" class="btn btn-danger" (click)="borrarEvento()">Borrar evento</a>&nbsp;
                    <a class="btn btn-primary" (click)="abrirEditor()">Editar evento</a>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>    

  <ng-container *ngIf="servicioUsuarios.logIn()">  
    <ng-container *ngIf="estuyo(item.id_organizador)" >  
                
        <div id="editorEvento" class="jumbotron jumbotron-fluid brd oculto">
            <div class="container">
                <form [formGroup]="formEventos" (submit)="submit()">
                    <div class="form-group">
                        <p class="titulo">Editar tu evento: </p>
                        <input class="form-control oculto" type="number" formControlName="id" value="{{item.id_evento}}">
                        <input class="form-control" formControlName="destino" type="text" value="{{item.destino}}" placeholder="Lugar del evento..."><br>
                        <input class="form-control" type="textarea" formControlName="descripcion" value="{{item.descripcion}}" placeholder="Descripción del evento..."><br>
                        <input class="form-control" formControlName="fecha" value="formatFecha(item.fecha)" type="date"><br>
                        Ubicación aproximada:<br>
                        <input class="form-control" type="number" formControlName="latitud" value="{{item.latitud}}" placeholder="Latitud..."><br>
                        <input class="form-control" type="number" formControlName="longitud" value="{{item.longitud}}" placeholder="longitud..."><br>
                    </div>
                    <button type="submit" class="btn btn-info btn-block">Guardar cambios</button>&nbsp;
                    <a class="btn btn-warning btn-block" (click)="submit()">Cerrar editor</a>
                </form>
            </div>
        </div>    

    </ng-container>
</ng-container>

    <h3>Usuarios inscritos a este evento:</h3>
    <div class="container jumbotron jumbotron-fluid brd">
        <ul *ngFor="let user of usuarios">
            <li>
                <h6>- {{ user.nombre }} {{user.apellidos}}  --- {{user.email}}</h6>
            </li>
        </ul>

            
        <ng-container *ngIf="servicioUsuarios.logIn()">  
                <div class="container">
                    <a class="btn btn-success" (click)="apuntarse()">Inscribirse</a>
                </div>
        </ng-container>
    </div>
    
</li>
    
<div id="mapaevento" class="jumbotron jumbotron-fluid brd">
    
</div>

