<li *ngFor="let item of evento" class="container col-xs-1 center-block">
    
<div class="jumbotron jumbotron-fluid brd">
    <div class="container">
        <h1>Destino: {{ item.destino }}</h1>          
        <div class="container">    
            <h4>{{ item.descripcion }}</h4>
        </div>
    <br>
    <p class="cursiva">Fecha: {{ item.fecha }}</p>
    
    <ng-container *ngIf="servicioUser.logIn()">  
        <ng-container *ngIf="estuyo(item.id_organizador)" >  
            <div class="tuyo">
                <h3>Creado por ti</h3>
            </div>
            <div id="borrarEvento">
                <a href="/events" class="btn btn-danger" (click)="borrarEvento()">Borrar evento</a>
            </div>
        </ng-container>
    </ng-container>
    </div>
  </div>    
    
</li>

