<div class="contacto">
    <div class="postal">
        <div class="icono">
            <img src="../../../assets/img/iconos/sent-mail2.png">
        </div>
        <div class="datos">
            <h2>CONTACTO POSTAL</h2>
            <p>c/Calle, 12 3ºD 13600</p>
            <p>Alcázar de San Juan, Ciudad Real</p>
        </div>
    </div>
    <div class="telefono">
        <div class="icono">
            <img src="../../../assets/img/iconos/call-answer.png">
        </div>
        <div class="datos">
            <h2>TELÉFONO DE CONTACTO</h2>
            <p>Oficina (+34) 637468298</p>
            <p>Comercial (+34) 637468471</p>
        </div>
    </div>
    <div class="email">
        <div class="icono">
            <img src="../../../assets/img/iconos/envelope2.png">
        </div>
        <div class="datos">
            <h2>CONTACTO POR EMAIL</h2>
            <p>Información: info@erasmusfinder.com</p>
            <p>Soporte: soporte@erasmusfinder.com</p>
        </div>
    </div>
</div>
