<form [formGroup]="formLogin" (submit)="submit()">
    <div class="entrada">
        <img src="../../../../assets/img/iconos/envelope.png">
        <input class="inputtext" type="text" value="jesus@gmail.com" formControlName="email" placeholder=" Email..."><br><br>
    </div>
    <div class="entrada">
        <img src="../../../../assets/img/iconos/locked-padlock.png">
        <input class="inputtext" type="text" value="1234" formControlName="password" placeholder=" Contraseña..."><br><br>
    </div>
    <br>
    <div class="entrada">
        <a href="#">¿Has olvidado tu contraseña?</a>
    </div>
    <div class="iniciosesion">
        <button type="submit">Continuar</button>
    </div>
</form>
