<form class="sign-in-form" [formGroup]="formLogin" (submit)="submit()">
    <div class="entrada">
        <img src="../../../../assets/img/iconos/envelope.png">
        <input class="inputtext" type="text" value="jesus@gmail.com" formControlName="email" placeholder=" Email..."><br><br>
    </div>
    <div class="entrada">
        <img src="../../../../assets/img/iconos/locked-padlock.png">
        <input class="inputtext" type="password" value="1234" formControlName="password" placeholder=" Contraseña..."><br><br>
    </div>
    <div class="entrada">
        <a href="#">¿Has olvidado tu contraseña?</a><br>
        
    </div>
    <div class="iniciosesion">
        <button type="submit" class="btn btn-info btn-block">Iniciar Sesion</button>
    </div>

    <div class="social-media">
        <button (click)="signInWithGoogle()" class="social-icon-google">
            <i class="fab fa-google"></i>
        </button>
        <button (click)="signInWithFB()" class="social-icon-facebook">
            <i class="fab fa-facebook-f"></i>
        </button>
    </div>
    
   
    
    
</form>