<form method="POST" [formGroup]="formRegister" (submit)="submit()">
    <div class="entrada" *ngIf="this.formRegister.invalid">
        HAY CAMPOS OBLIGATORIOS
    </div>
    <div class="entrada">
        <img src="../../../../assets/img/iconos/man-user.png">
        <input class="inputtext" type="text" formControlName="nombre" placeholder=" Nombre..."><br>
    </div>
    <div class="entrada">
        <img src="../../../../assets/img/iconos/man-user.png">
        <input class="inputtext" type="text" formControlName="apellidos" placeholder=" Apellidos..."><br>
    </div>
    <div class="entrada">
        <img src="../../../../assets/img/iconos/envelope.png">
        <input class="inputtext" type="text" formControlName="email" placeholder=" Email..."><br>
    </div>
    <div class="entrada">
        <img src="../../../../assets/img/iconos/locked-padlock.png">
        <input class="inputtext" type="text" formControlName="password" placeholder=" Contraseña..."><br>
    </div>
    <div class="entrada">
        <img src="../../../../assets/img/iconos/earth.png">
        <input class="inputtext" type="text" id="pais_autocomplete" placeholder=" País de Origen..." (keyup)="autocompletar(this.paises)"><br>
        <input class="inputtext escondido" type="text" formControlName="id_pais" id="id_autocomplete" placeholder=" id pais..."><br>
    </div>
    <div class="entrada">
        <img src="../../../../assets/img/iconos/photo-camera.png">
        <input class="inputtext inputfile" id="selectedFile" type="file" formControlName="foto"><br>
        <input type="button" class="inputtext" value="Examinar..." onclick="document.getElementById('selectedFile').click();">
    </div>
    <br>
    <div class="iniciosesion">
        <button type="submit" class="btn btn-info btn-block">Continuar</button>
    </div>
    <br>
</form>