<form method="POST" [formGroup]="formRegister" (submit)="submit()">
    <div class="entrada">
        <img src="../../../../assets/img/iconos/man-user.png">
        <input class="inputtext" type="text" formControlName="nombre" placeholder=" Nombre..."><br>
    </div>
    <div class="entrada">
        <img src="../../../../assets/img/iconos/man-user.png">
        <input class="inputtext" type="text" formControlName="apellidos" placeholder=" Apellidos..."><br><br>
    </div>
    <div class="entrada">
        <img src="../../../../assets/img/iconos/envelope.png">
        <input class="inputtext" type="text" formControlName="email" placeholder=" Email..."><br>
    </div>
    <div class="entrada">
        <img src="../../../../assets/img/iconos/man-user.png">
        <input class="inputtext" type="text" formControlName="username" placeholder=" Username..."><br>
    </div>
    <div class="entrada">
        <img src="../../../../assets/img/iconos/locked-padlock.png">
        <input class="inputtext" type="text" formControlName="password" placeholder=" Contraseña..."><br>
    </div>
    <div class="entrada">
        <img src="../../../../assets/img/iconos/earth.png">
        <input class="inputtext" type="text" formControlName="id_pais" placeholder=" País de Origen..."><br>
    </div>
    <div class="entrada">
        <img src="../../../../assets/img/iconos/photo-camera.png">
        <input class="inputtext inputfile" id="selectedFile" type="file" formControlName="foto"><br>
        <input type="button" class="inputtext" value="Examinar..." onclick="document.getElementById('selectedFile').click();">
    </div>
    <div class="iniciosesion">
        <button type="submit">Continuar</button>
    </div>
    <br>
</form>